[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = This mirror is provided for easy forking. To contribute code to the project, please visit https://www.iotivity.org/get-involved
[access "refs/*"]
	owner = group user/Trevor Bramwell (bramwelt)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Trevor Bramwell (bramwelt)
	label-Verified = -1..+1 group user/Trevor Bramwell (bramwelt)
	push = group user/Trevor Bramwell (bramwelt)
	read = group user/Trevor Bramwell (bramwelt)
	rebase = group user/Trevor Bramwell (bramwelt)
	removeReviewer = group user/Trevor Bramwell (bramwelt)
	submit = group user/Trevor Bramwell (bramwelt)
[access "refs/heads/*"]
	create = group user/Trevor Bramwell (bramwelt)
	push = +force group user/Trevor Bramwell (bramwelt)
	pushMerge = group user/Trevor Bramwell (bramwelt)
	read = group user/Trevor Bramwell (bramwelt)
[access "refs/tags/*"]
	push = group user/Trevor Bramwell (bramwelt)
	push = +force group user/Trevor Bramwell (bramwelt)
